<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="onlyOdd = !onlyOdd">
        Only show odd numbers
      </button>
      <br /><br />
      <ul class="list-group">
        <div *ngIf="onlyOdd">
          <li
            class="list-group-item"
            *ngFor="let number of oddNumbers"
            [ngClass]="{ odd: number % 2 !== 0 }"
            [ngStyle]="{
              backgroundColor: number % 2 !== 0 ? 'yellow' : 'transparent'
            }"
          >
            {{ number }}
          </li>
        </div>
        <!-- <div *ngIf="!onlyOdd">
          <li
            class="list-group-item"
            *ngFor="let number of evenNumbers"
            [ngClass]="{ number: number % 2 !== 0 }"
            [ngStyle]="{
              backgroundColor: number % 2 !== 0 ? 'yellow' : 'transparent'
            }"
          >
            {{ number }}
          </li>
        </div> -->
        <!-- <ng-template [ngIf]="onlyOdd">
          <p>Only odd</p>
        </ng-template> -->
        <!-- Custom Structural Directive -->
        <div *appUnless="onlyOdd">
          <li
            class="list-group-item"
            *ngFor="let number of evenNumbers"
            [ngClass]="{ number: number % 2 !== 0 }"
            [ngStyle]="{
              backgroundColor: number % 2 !== 0 ? 'yellow' : 'transparent'
            }"
          >
            {{ number }}
          </li>
        </div>
      </ul>
      <p appBasicHighlight>Style with basic directive</p>
      <!-- ใช้ bind custom property -->
      <!-- <p
        appBetterHighlight
        [defaultColor]="'yellow'"
        [highlightColor]="'red'"
      ></p> -->
      <p [appBetterHighlight]="'red'" defaultColor="yellow">
        Style with beter directive
      </p>
      <!-- bind ngSwitch โดยใช้ property เลยไม่มี * -->
      <div [ngSwitch]="value">
        <p *ngSwitchCase="5">Value is 5</p>
        <p *ngSwitchCase="10">Value is 10</p>
        <p *ngSwitchCase="100">Value is 100</p>
        <p *ngSwitchDefault>Value is Default</p>
      </div>
    </div>
  </div>
</div>
